/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* Custom properties */
:root {
  --background-color-white: #FFF;
  --background-color-blue: #333467;
}

body {
  background-color: var(--background-color-white);
}

header{
  background-color: var(--background-color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.logo {
  width: 100%;
  max-width: 8em;
}

/* icons */
.nav-icons{
  display: flex;
}

.nav-icons svg {
  width: 100%;
}

.nav-icons svg:nth-child(2) {
  margin-left: 1em;
}
/* icons end */